<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PhoneLogs.Properties.ColumnSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PhoneLogs.Properties.CommonSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PhoneLogs.Properties.AdvancedSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PhoneLogs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <PhoneLogs.Properties.ColumnSettings>
            <setting name="SessionIDColumn" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FromNameColumn" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="FromNumberColumn" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ToNameColumn" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="ToNumberColumn" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="CallResultColumn" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="CallLengthColumn" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="HandleTimeColumn" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="StartTimeColumn" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="CallDirectionColumn" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="CallQueueColumn" serializeAs="String">
                <value>11</value>
            </setting>
        </PhoneLogs.Properties.ColumnSettings>
        <PhoneLogs.Properties.CommonSettings>
            <setting name="Sheet" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Employees" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="OutputFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputFileName" serializeAs="String">
                <value />
            </setting>
        </PhoneLogs.Properties.CommonSettings>
        <PhoneLogs.Properties.AdvancedSettings>
            <setting name="SessionIDColumn" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FromNameColumn" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="FromNumberColumn" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ToNameColumn" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="ToNumberColumn" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="CallResultColumn" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="CallLengthColumn" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="HandleTimeColumn" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="StartTimeColumn" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="CallDirectionColumn" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="CallQueueColumn" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="Sheet" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="OutputFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputFileName" serializeAs="String">
                <value />
            </setting>
        </PhoneLogs.Properties.AdvancedSettings>
        <PhoneLogs.Properties.Settings>
            <setting name="Sheet" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="OutputFoler" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputFileName" serializeAs="String">
                <value />
            </setting>
        </PhoneLogs.Properties.Settings>
    </userSettings>
</configuration>